<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.learning.texnar13.teachersprogect"
    android:versionCode="51"
    android:versionName="tera3.560">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">



        <activity
            android:name=".startScreen.StartScreenActivity"
            android:configChanges="locale"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!--action android:name="android.intent.action.VIEW" />todo
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" /-->

                <!-- Accepts URIs that begin with "http://www.my-site.com/my-app..." -->
                <!--data
                    android:host="http"
                    android:scheme="www.my-site.com"
                    android:pathPrefix="/my-app" />
                <data android:scheme="my-site"
                    android:host="my-app" /-->


            </intent-filter>
        </activity>
        <activity
            android:name=".lesson.LessonActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_lesson" />
        <activity
            android:name=".CabinetRedactorActivity"
            android:configChanges="locale"/>
        <activity
            android:name=".lesson.LessonListActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_lesson_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".seatingRedactor.SeatingRedactorActivity"
            android:configChanges="locale" />
        <activity
            android:name=".ScheduleMonthActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_schedule_month"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ScheduleDayActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_schedule_day"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".lessonRedactor.LessonRedactorActivity"
            android:configChanges="locale"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".learnersAndGradesOut.LearnersAndGradesActivity"
            android:configChanges="locale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cabinetsOut.CabinetsOutActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_cabinets_out"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".startScreen.StartScreenHelp"
            android:configChanges="locale" />
        <activity
            android:name=".learnersClassesOut.LearnersClassesOutActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_learners_classes_out"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".learnersAndGradesOut.learnersAndGradesStatistics.LearnersGradesStatisticsActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>