<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.texnar13.teachersprogect"
    android:versionCode="31"
    android:versionName="super1.733">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".startScreen.StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lesson.LessonActivity"
            android:label="@string/title_activity_lesson" />
        <activity android:name=".CabinetRedactorActivity" />
        <activity android:name=".lesson.lessonList.LessonListActivity" />
        <activity android:name=".SeatingRedactorActivity" />
        <activity android:name=".ScheduleMonthActivity" />
        <activity android:name=".ScheduleDayActivity" />
        <activity android:name=".LessonRedactorActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".LearnersAndGradesOut.LearnersAndGradesActivity"
            android:label="@string/title_activity_learners_and_grades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LearnersAndGradesOut.LearnersAndGradesHelp" />
        <activity android:name=".lesson.LessonHelp" />
        <activity
            android:name=".cabinetsOut.CabinetsOutActivity"
            android:label="@string/title_activity_cabinets_out"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".startScreen.StartScreenHelp" />
        <activity
            android:name=".learnersClassesOut.LearnersClassesOutActivity"
            android:label="@string/title_activity_learners_classes_out"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>